<%= render 'shared/header'%>

<%= form_with model:@user, url: user_path, class:'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>ユーザー情報編集</h1>

    <%= render 'shared/error_messages', model: f.object %>

    <h2 class='form-group-wrap'>プロフィール</h2>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム
          <span class="indispensable">必須</span>
        </label>
      </div>
      <div class="input-field">
        <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"６文字以内で入力してください"%>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">プロフィール画像
          <span class="any">任意</span>
        </label>
      </div>
      <div class="input-field">
        <label for="prev-image-form" class="user-image-form"><span>ファイルを選択してください</span></label>
        <%= f.file_field :user_image, class:"file-default", id:"prev-image-form", style: "display:none;" %>
      </div>
      <div class="prev-box">
        <% if @user.user_image.attached? %>
        <%= image_tag @user.user_image, class:"prev-image", id:"prev-image" %>
        <% else %>
        <%= image_tag "noimage.png", class:"prev-image", id:"prev-image" %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">性別
          <span class="indispensable">必須</span>
        </label>
      </div>
      <div class="gender">
        <div class="gender-button gender-button-left">
          <%= f.radio_button :gender, :男性, class:"radio-gender", id:"male" %>
          <label for="male" class="input-gender">男性</label>
        </div>
        <div class="gender-button gender-button-right">
          <%= f.radio_button :gender, :女性, class:"radio-gender", id:"female" %>
          <label for="female" class="input-gender">女性</label>
        </div>
      </div>
    </div>

    <div class="double-form-group form-group">
      <div class="form-group-double">
        <div class='form-text-wrap'>
          <label class="form-text">所在地
            <span class="any">任意</span>
          </label>
        </div>
        <div class="input-field-double">
          <%= f.collection_select(:municipality_id , Municipality.all, :id, :name, {prompt: "未設定"}, {class:"input-default", id:"municipality-sales-status"}) %>
        </div>
      </div>

      <div class="form-group-double">
        <div class='form-text-wrap'>
          <label class="form-text">主な釣り場
            <span class="any">任意</span>
          </label>
        </div>
        <div class="input-field-double">
          <%= f.collection_select(:style_id, Style.all, :id, :name, {prompt: "未設定"}, {class:"input-default", id:"style-sales-status"}) %>
        </div>
      </div>
    </div>

    <div class='double-form-group form-group'>
      <div class="form-group-double">
        <div class='form-text-wrap'>
          <label class="form-text">年齢
            <span class="any">任意</span>
          </label>
        </div>
        <div class='input-field-double-gender input-field-double-flex'>
          <%= f.text_field :age, class:"input-default input-default-left", id:"age", placeholder:"例) 20", maxlength:"2" %>
          <span class='iinput-default-right'>才</span>
        </div>
      </div>

      <div class="form-group-double">
        <div class='form-text-wrap'>
          <label class="form-text">釣り歴
            <span class="any">任意</span>
          </label>
        </div>
        <div class='input-field-double-gender input-field-double-flex'>
          <%= f.text_field :history, class:"input-default input-default-left", id:"history", placeholder:"例) 3", maxlength:"2" %>
          <span class='input-default-right'>年</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">自己紹介
          <span class="any">任意</span>
        </label>
      </div>
      <div class='form-default'>
        <%= f.text_area :profile, class:"input-big", id:"profile",
    placeholder:'例) １年中いつでも釣りをしています。夏場はよく子供と釣りに行ってます。釣った魚は捌いて刺身にしたり、天ぷらにしたりして美味しくいただいてます！みんなで釣りMAPを増やしていきましょう！！', maxlength:"1000" %>
      </div>
    </div>

    <div class='register-btn'>
      <%= f.submit "変更する" ,class:"register-red-btn" %>
    </div>

  </div>
</div>
<% end %>

<%= render "/shared/footer" %>