<%= render '/shared/header'%>
<div class="user-main">
  <div class="user-inner">
      <div class="user-wrapper">
      <div class ="user-edit">
      <%= link_to "編集", edit_user_path(@user), class:"user-edit-btn" %>
      </div>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんのマイページ"%>
      </h2>

      <div class="user-flex">
      <div class="user-left">
      <div class="left-box">
      <% if @user.user_image.attached? %>
        <%= image_tag @user.user_image, class:"left-image" %>
      <% elsif @user.gender == "男性" %>
        <%= image_tag "man.png", class:"left-image" %>
      <% elsif @user.gender == "女性" %>
        <%= image_tag "woman.png", class:"left-image" %>
      <% end %>
      </div>
      </div>

      <div class="user-right">
      <table class="table">
        <tbody>
          <tr>
            <th class="table-col1">名前</th>
            <td class="table-col2"><%= @user.nickname %></td>
          </tr>

          <tr>
            <th class="table-col1">性別</th>
            <td class="table-col2"><%= @user.gender %></td>
          </tr>

          <tr>
            <th class="table-col1">所在地</th>
            <% unless @user.municipality == nil %>
              <td class="table-col2"><%= @user.municipality.name %></td>
            <% else %>
            <td class="table-col2">未設定</td>
            <% end %>
          </tr>

          <tr>
            <th class="table-col1">年齢</th>
            <% unless @user.age == nil %>
              <td class="table-col2"><%= @user.age %>才</td>
            <% else %>
              <td class="table-col2">未設定</td>
            <% end %>
          </tr>

          <tr>
            <th class="table-col1">釣り歴</th>
            <% unless @user.history == nil %>
              <td class="table-col2"><%= @user.history %>年</td>
            <% else %>
              <td class="table-col2">未設定</td>
            <% end %>
          </tr>

          <tr>
            <th class="table-col1">主な釣り場所</th>
            <% unless @user.style == nil %>
              <td class="table-col2"><%= @user.style.name %></td>
            <% else %>
              <td class="table-col2">未設定</td>
            <% end %>
          </tr>

        </tbody>
      </table>
      </div>
    </div>
    <div class="page-wrapper">
      <h5 class="page-heading">
        <%= "自己紹介"%>
      </h5>
      <div class="page-profile">
        <%= simple_format(@user.profile)%>
        </div>
      </div>

      <h4 class="fish-post">
        <%= "投稿一覧"%>
      </h4>
      <div class="fish-list">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%# render partial: 'posts/posts' , collection: @posts %>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/footer' %>