    <%= form_with model:@post, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <h2 class='fish-new-form-wrap'>魚</h2>

    <div class="fish-new-group">
      <div class='fish-new-text-wrap'>
        <label class="fish-new-text">魚種
          <span class="indispensable">必須</span>
        </label>
      </div>
      <div class="fish-input-field">
        <%= f.collection_select(:fish_kind_id, FishKind.all, :id, :name, {prompt:"選択してください"}, {class:"fish-input", id:"municipality-sales-status"}) %>
      </div>
    </div>

    <div class="fish-new-group">
      <div class='fish-new-text-wrap'>
        <label class="fish-new-text">魚名
          <span class="any">任意</span>
        </label>
      </div>
      <div class="fish-input-field">
        <%= f.text_field :fish_name, placeholder:"イソカサゴ", class:"fish-input", id:"municipality-sales-status" %>
      </div>
    </div>

    <div class="fish-new-group">
      <div class='fish-new-text-wrap'>
        <label class="fish-new-text">画像
          <span class="any">任意</span>
        </label>
      </div>
      <div class="fish-input-field">
        <label for="prev-image-form" class="fish-image-form"><span>ファイルを選択してください</span></label>
        <%= f.file_field :fish_image, class:"fish-input", id:"prev-image-form" , style:"display:none;" %>
      </div>
      <%= image_tag "fishing_fish.png", class:"fish-prev-image", id:"prev-image"%>
    </div>

    <h2 class='fish-new-form-wrap'>日時・場所</h2>

    <div class="double-fish-new-group">
      <div class="fish-new-group-double fish-new-group">
        <div class='fish-new-text-wrap'>
          <label class="fish-new-text">日付
            <span class="indispensable">必須</span>
          </label>
        </div>
        <div class="fish-input-field-double">
          <% if @post.fishing_date == nil %>
          <%= f.date_field :fishing_date, class:"fish-input" %>
          <% else %>
          <%= f.date_field :fishing_date, default:{year: @post.fishing_date.year,month: @post.fishing_date.month,day: @post.fishing_date.day}, class:"fish-input" %>
          <% end %>
        </div>
      </div>

      <div class="fish-new-group-double fish-new-group">
        <div class='fish-new-text-wrap'>
          <label class="fish-new-text">時間
            <span class="indispensable">必須</span>
          </label>
        </div>
        <div class="fish-input-field-double">
          <% if @post.fishing_time == nil %>
          <%= f.time_field :fishing_time, class:"fish-input" %>
          <% else %>
          <%= f.time_field :fishing_time, default:{time: @post.fishing_time.time} , class:"fish-input" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="double-fish-new-group">
      <div class="fish-new-group-double fish-new-group">
        <div class='fish-new-text-wrap'>
          <label class="fish-new-text">天候
            <span class="indispensable">必須</span>
          </label>
        </div>
        <div class="fish-input-field-double">
          <%= f.collection_select(:weather_id, Weather.all, :id, :name, {prompt:"選択してください"}, {class:"fish-input"}) %>
        </div>
      </div>

      <div class="fish-new-group-double fish-new-group">
        <div class='fish-new-text-wrap'>
          <label class="fish-new-text">地域
            <span class="indispensable">必須</span>
          </label>
        </div>
        <div class="fish-input-field-double">
          <%= f.collection_select(:municipality_id, Municipality.all, :id, :name, {prompt:"選択してください"}, {class:"fish-input"}) %>
        </div>
      </div>
    </div>

    <div class="fish-new-group">
      <div class='fish-new-text-wrap'>
        <label class="fish-new-text">場所(名称)
          <span class="any">任意</span>
        </label>
      </div>
      <div class="fish-input-field">
        <%= f.text_field :spot, placeholder:"西浦海岸の堤防", class:"fish-input" %>
      </div>
    </div>

    <h2 class='fish-new-form-wrap'>地図</h2>

    <div class="fish-new-group">
      <div class='fish-new-text-wrap'>
        <label class="fish-new-text">Map
          <span class="any">任意</span>
        </label>
      </div>
      <div class="map-form">
        <div class="map-input-field">
          <%= f.text_field :address, placeholder:"蒲郡市西浦海岸", id:"address", class:"fish-input" %>
          <%= f.hidden_field :latitude, id:"map_latitude"%>
          <%= f.hidden_field :longitude, id:"map_longitude"%>
        </div>
        <div class="map-input-btn">
          <input type="button" value="検索する" onclick="codeAddress()" class="map-address-btn">
        </div>
      </div>
      <%= render '/shared/map_form'%>
    </div>


    <h2 class='fish-new-form-wrap'>道具</h2>
    <div class="fish-new-group">
      <div class='fish-new-text-wrap'>
        <label class="fish-new-text">仕掛け
          <span class="indispensable">必須</span>
        </label>
      </div>
      <div class="fish-input-field">
        <%= f.text_field :gimmick, placeholder:"ブラクリ 餌は小海老", class:"fish-input" %>
      </div>
    </div>

    <div class="fish-new-group">
      <div class='fish-new-text-wrap'>
        <label class="fish-new-text">ロッド名
          <span class="any">任意</span>
        </label>
      </div>
      <div class="fish-input-field">
        <%= f.text_field :rod, placeholder:"ガンガンテトラ 110L", class:"fish-input" %>
      </div>
    </div>

    <div class="fish-new-group">
      <div class='fish-new-text-wrap'>
        <label class="fish-new-text">リール名
          <span class="any">任意</span>
        </label>
      </div>
      <div class="fish-input-field">
        <%= f.text_field :reel, placeholder:"スーパーコロネット ST-10RL", class:"fish-input" %>
      </div>
    </div>

    <div class="fish-new-group">
      <div class='fish-new-text-wrap'>
        <label class="fish-new-text">ライン名
          <span class="any">任意</span>
        </label>
      </div>
      <div class="fish-input-field">
        <%= f.text_field :line, placeholder:"クインスター 600m 3号", class:"fish-input" %>
      </div>
    </div>

    <h2 class='fish-new-form-wrap'>詳細</h2>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">詳細説明
          <span class="any">任意</span>
        </label>
      </div>
      <div class='form-default'>
        <%= f.text_area :explanation, class:"fish-input-big", id:"profile",
    placeholder:'穴釣りで、カサゴが8尾釣れました。 一番大きいサイズで21センチほどでした。帰って煮付けにして食べようと思います！！', maxlength:"1000" %>
      </div>
    </div>

    <div class='register-btn'>
      <% if @post.gimmick == nil || @post_one.gimmick == nil %>
      <%= f.button "投稿する",type: 'button' ,class:"fish-new-red-btn", onclick: 'submit()' %>
      <% else %>
      <%= f.button "編集する",type: 'button' ,class:"fish-new-red-btn", onclick: 'submit()' %>
      <% end %>
    </div>
    <% end %>