<%= render 'shared/header'%>

<%= form_with model:@user, url: user_session_path, class:'s-main', local: true do |f| %>
<div class='s-form-wrap'>
  <div class='s-form-header'>
    <h1 class='s-form-header-text'>Log in</h1>

    <div class='s-login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <div class="s-form">
      <div class="s-form-group">
        <div class='s-form-text-wrap'>
          <label class="s-form-text">メールアドレス
          </label>
        </div>
        <%= f.email_field :email, class:"s-input-default", id:"email", placeholder:"", autofocus: true %>
      </div>

      <div class="s-form-group">
        <div class='s-form-text-wrap'>
          <label class="s-form-text">パスワード
          </label>
        </div>
        <%= f.password_field :password, class:"s-input-default", id:"password", placeholder:"", autofocus: true %>
      </div>

      <div class='s-form-btn'>
        <%= f.submit "Log in" ,class:"s-form-send-btn" %>
      </div>

    </div>
  </div>
</div>
<% end %>

<%= render "/shared/footer" %>