<%= render 'shared/header'%>
<div class="post-index">
  <div class="post-index-text-box">
    <h2 class="post-index-text">釣果一覧</h2>
  </div>
  <div class="post-index-fish">
    <div class="post-index-fish-indiv">
      <%if params[:municipality_id] %>
      <h2 class="post-index-fish-title"><%= @municipality_name.name %>の釣果一覧</h2>
      <% elsif params[:fish_kind_id] %>
      <h2 class="post-index-fish-title"><%= @fish_kind_name.name %>の釣果一覧</h2>
      <% else %>
      <h2 class="post-index-fish-title">最新の釣果一覧</h2>
      <% end %>
      <%= render "shared/post", partial: @posts %>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer'%>