<%= render 'shared/header'%>
<div class="post-index">
<div class="post-index-fish">
  <div class="post-index-text-box">
    <%if params[:municipality_id] %>
      <h2 class="post-index-text"><%= @post.municipality.name %>の投稿一覧</h2>
    <% elsif params[:fish_kind_id] %>
      <h2 class="post-index-text"><%= @post.fish_kind.name %>の投稿一覧</h2>
    <% else %>
      <h2 class="post-index-text">みんなの投稿一覧</h2>
    <% end %>
    </div>
<%= render "shared/post", partial: @posts %>
</div>
</div>
<%= render 'shared/footer'%>