<!DOCTYPE html>
<html>

<head>
  <title></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
  <%= include_gon %>
</head>

<body>
  <% if current_page?(controller: 'tops', action: 'index') %>
  <%else%>
  <div class="space-header"></div>
  <% end %>
  <%= yield %>
</body>

</html>